<div class="page-title ">
  <div class="container salesHeader  d-flex">
    <h4 class="">カスタマーノート履歴リスト</h4>
    <div class="filterBtn ml-auto">
      <a routerLink="/get_customer_analysis_dates/customer-note" class="btn">
        <img src="../../../assets/images/customer/sales-white.png" alt="" /> </a>
    </div>
  </div>
</div>

<div class="main-content">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <ul class="d-flex justify-content-center customer-note-sale-btns">
          <li class="mr-15">
            <a href="#" class="btn">Button</a>
          </li>
          <li>
            <a href="#" class="btn">Button</a>
          </li>
        </ul>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6 col-lg-8">
            <table class="table table-custom mb-0" style="width:100%">
              <thead>
                <tr class="bg-light-cyan">
                  <th>label 1</th>
                  <th>label 2</th>
                  <th>label 3</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>
                    <ul class="action-icons">
                      <li>
                        <a href="#" title="View Customer" alt="View Customer" data-toggle="modal"
                          data-target="#modelViewCustomer" data-id="124" class="viewCustomer"><i
                            class="fas fa-minus"></i></a>
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>
                    <ul class="action-icons">
                      <li>
                        <a href="#" title="View Customer" alt="View Customer" data-toggle="modal"
                          data-target="#modelViewCustomer" data-id="124" class="viewCustomer"><i
                            class="fas fa-minus"></i></a>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
            <table class="table table-custom mb-0" style="width:100%">
              <thead>
                <tr class="bg-light-cyan">
                  <th>label 1</th>
                  <th>label 2</th>
                  <th>label 3</th>
                  <th>label 4</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                  <td>
                    <ul class="action-icons">
                      <li>
                        <a href="#" title="View Customer" alt="View Customer" data-toggle="modal"
                          data-target="#modelViewCustomer" data-id="124" class="viewCustomer"><i
                            class="fas fa-minus"></i></a>
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                  <td>
                    <ul class="action-icons">
                      <li>
                        <a href="#" title="View Customer" alt="View Customer" data-toggle="modal"
                          data-target="#modelViewCustomer" data-id="124" class="viewCustomer"><i
                            class="fas fa-minus"></i></a>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="total-price-panel">
              <div class="price-detail">
                <h4 class="d-flex justify-content-between mb-20">
                  <span>Label</span>
                  <span>5000円</span>
                </h4>
                <h4 class="d-flex justify-content-between mb-20">
                  <span>Label</span>
                  <span>0円</span>
                </h4>
              </div>

              <div class="sprater-lines mb-20"></div>

              <h2 class="d-flex justify-content-between mb-20">
                <span>Label</span>
                <span>5000円</span>
              </h2>
              <ul class="d-flex justify-content-center mb-20">
                <li class="mr-20"><a href="#" class="btn gray-btn">Cash</a></li>
                <li><a href="#" class="btn gray-btn">Credit</a></li>
              </ul>

              <div class="sprater-lines mb-20"></div>

              <div class="">
                <h3 class="d-flex justify-content-between mb-20">
                  <span>Label</span>
                  <span>6000円</span>
                </h3>

                <h3 class="d-flex justify-content-between mb-40">
                  <span>Label</span>
                  <span>1000円</span>
                </h3>
              </div>

              <div class="text-center"><a href="#" class="btn">Submit Btn</a></div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<app-footar></app-footar>