<div class="main-content">
  <div class="container">
      <div class="myShopTabs">
          <ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
              <li class="nav-item">
                  <a class="nav-link box-shadow active" routerLink="/users/my-shop" id="pills-salon-tab" data-toggle="pill" href="#pills-salon" role="tab" aria-controls="pills-salon" aria-selected="true"><span
                          class="d-block d-sm-block d-md-none pillsIcons"><img
                              src="../../../assets/images/my-shop/icons/information.png"></span><span
                          class="d-none d-sm-none d-md-block">サロン情報</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link box-shadow" routerLink="/users/employee-list"  id="pills-staff-tab" data-toggle="pill" href="#pills-staff" role="tab" aria-controls="pills-staff" aria-selected="false"><span
                          class="d-block d-sm-block d-md-none pillsIcons"><img
                              src="../../../assets/images/my-shop/icons/staff.png"></span><span
                          class="d-none d-sm-none d-md-block">従業員</span></a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link box-shadow" routerLink="/users/ticket-list" id="pills-ticket-tab" data-toggle="pill" href="#pills-ticket" role="tab" aria-controls="pills-ticket" aria-selected="false"><span class="d-block d-sm-block d-md-none pillsIcons"><img src="../../../assets/images/my-shop/icons/ticket.png"></span><span class="d-none d-sm-none d-md-block">チケット</span></a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link box-shadow" routerLink="/users/product-list" id="pills-product-tab" data-toggle="pill" href="#pills-product" role="tab" aria-controls="pills-product" aria-selected="false"><span class="d-block d-sm-block d-md-none pillsIcons"><img src="../../../assets/images/my-shop/icons/product.png"></span><span class="d-none d-sm-none d-md-block">店販/サービスを選択</span></a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link box-shadow" routerLink="/users/payment-info" id="pills-plan-tab" data-toggle="pill" href="#pills-plan" role="tab" aria-controls="pills-plan" aria-selected="false"><span class="d-block d-sm-block d-md-none pillsIcons"><img src="../../../assets/images/my-shop/icons/list.png"></span><span class="d-none d-sm-none d-md-block">計画</span></a>
              </li> -->
          </ul>
      </div>
  </div>
</div>
